/****Fuentes**** */
/*  BEBAS NUE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* ANTON */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');


/* Reset básico */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilo base del menú */

/* Formulario-contacto */

.formulario-comentario {
    width: 100%;
    height: 100vh;
    /* Usa viewport height para centrar verticalmente */
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    /* Asegura que el contenido esté en columna */
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    text-align: center;
    gap: 20px;
}

.content-coment {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    width: 100%;
    max-width: 500px;
    /* Opcional: controla el ancho máximo */
}

.formulario-comentario h2 {
    padding-bottom: 25px;
}

.formulario-comentario .barras-coment {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
    gap: 15px;
}

.formulario-comentario .campo {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #000000;
    width: 100%;
}

.formulario-comentario .btn-form {
    padding: 0.55rem 3rem;
    border-radius: 15px;
    border: 2px solid #000000;
    background: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F99D0C;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.formulario-comentario  .btn-form:hover {
    border: 2px solid #F99D0C;
    background: #F99D0C;
    color: #000;
}

/* Contenido del mapa */









/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .parrafo-banner {
        max-width: 100%;
        color: #FFF;
    }

    .navbar {
        position: relative;

    }

    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: -1000%;
        left: 0;
        width: 100%;
        background-color: #2c3e50;
        transition: top 0.5s ease;
        /* Oculto por defecto */
    }

    .navbar ul.active {
        top: 100%;
    }

    .navbar ul li {
        padding: 10px 0;
        text-align: center;
    }

    /* H1 */

    .contenido-banner h1 {
        font-size: 2rem;

    }

    /* Contenido nosotros */

    .contenedor-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contenedor-nosotros .nosotros-texto {
        width: 90%;
        display: flex;
        gap: 2rem;
        margin-top: 40px;
        padding: 0 1rem;
    }

    /* Section-planes */
    .planes-img img {
        display: none;
    }

    .contenedor-planes h2 {
        text-align: center;
        padding: 30px 100px;
        font-family: 'Anton', sans-serif;
        font-size: 1.5rem;
        gap: 50px;
    }

    .contenedor-planes h3 {
        text-align: center;
        padding: 0;
        font-family: 'Anton', sans-serif;
        text-align: center;
        font-family: Anton;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .contenedor-planes p {
        font-family: "Exo 2";
        width: 50%;
        padding: 20px 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .boton-redondo {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contenedor-planes .card-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 90px;
    }

    .contenedor-planes p {
        width: 100%;
        display: flex;
        align-items: center;
    }

    /* Planes de nutricion */


    .contenedor-nutricion h3 {
        font-size: 1rem;

    }

    .contenedor-nutricion .contenedor-3_cards {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        justify-content: center;
        gap: 30px;
    }

    /* Ubicacion */

    .formulario-comentario  {
        padding: 20px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .formulario-comentario n .btn-form {
        padding: 0.40rem 2rem;
    }

    /* Footer */

    footer {
        padding: 30px 100px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background: linear-gradient(144deg, var(--Color-celeste, #23757B) 43.46%, #F99D0C 84.78%);
    }

}


/* Responsive */
@media (max-width: 418px) {
    .contenedor-nutricion h3 {
        font-size: 0.8rem;
    }


    .formulario-comentario {
        padding: 20px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }



}


@media (max-width: 462px) {
    .formulario-comentario {
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}